@page
@model Accidentabilidad.Pages.Clients.IndexModel
@{
}

<link href="~/css/index.css" rel="stylesheet" />
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <h1 class="my-12 display-12 fw-bold ls-tight"> Bitacora de accidentes </h1>
                </div>
            </div>
            @if (Model.errorMessage.Length > 0)
            {
                <div class="row">

                    <div class="col-md-4 offset-4 alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>@Model.errorMessage</strong>
                        <button type="button" class='btn-close' data-bs-dismiss='alert' aria-label="Close"></button>
                    </div>
                </div>
            }
            <div class="row" style="padding-top:1rem">
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-5">
                            <a class='btn btn-primary btn-sm' href='/Clients/Create' style="width:100%"><i class="bi bi-plus-lg"></i> Nuevo accidente</a>
                        </div>
                        <div class="col-md-5">
                            @if (Model.usuario.Rol == "1")
                            {
                                <a class='btn btn-primary btn-sm' href="/Historico/Historial" style="width:100%"><i class="bi bi-hourglass-split"></i> Control de cambios</a>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-3 offset-6" style="justify-content:end">
                    <div class="input-group">
                        <div class="input-group-text"><i class="bi bi-search"></i></div>
                        <input type="text" class="form-control" id="myInput" onkeyup="Filtrar()" placeholder="Buscar">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12" style="padding-top:1rem">
                    <div class="table-container">
                        <table id="myTable" class="table table-sm table-bordered " style="padding-top:2rem">
                            <thead class="table-light">
                                <tr>
                                    <th>Fecha registro</th>
                                    <th>Folio</th>
                                    <th># Nomina</th>
                                    <th>Trabajador</th>
                                    <th>Area</th>
                                    <th>Atención</th>
                                    <th>Diagnostico</th>
                                    <th>Calificacion</th>
                                    <th>IPP</th>
                                    <th>Incapacidad inicial</th>
                                    <th>Inicio labores</th>
                                    <th>Dias subsidiados</th>
                                    <th>Reporta</th>
                                    <th>Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.listAccidentes)
                                {
                                    <tr>
                                        <td>@item.Fecha_registro_reporte.ToString("dd/MM/yyyy")</td>
                                        <td>@item.Folio</td>
                                        <td>@item.Nomina</td>
                                        <td>@item.Empleado</td>
                                        <td>@item.Area</td>
                                        <td>@item.Atencion</td>
                                        <td>@item.Diagnostico</td>
                                        <td>@item.Calificacion</td>
                                        <td>@item.IPP</td>
                                        <td>@item.Incapacidad_inicial</td>
                                        <td>@item.Inicio_labores</td>
                                        <td style="text-align: center;">@item.Dias_subsidiados</td>
                                        <td style="text-align: center;">@item.Reporta</td>
                                        <td>
                                            <a class='btn btn-primary btn-sm' href='/Clients/Edit?id=@item.ID'><i class="bi bi-pencil-fill"></i> Editar</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            @if (Model.usuario.Rol == "1")
            {
                <div id="DivbtnDescargaReporte">
                    <button class="btn btn-primary btn-sm" onclick="exportTableToExcel('myTable', 'Listado de accidentes')"><i class="bi bi-file-earmark-arrow-down"></i> Exportar</button>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/Index.js"></script>
}

